<nav>
    <a>Theater</a>
    <ul>
        <li><a href="/">Home </a></li>
        {{#unless isLoggedIn}}
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        {{else}}
        <li><a href="/logout">Logout</a></li>
        {{/unless}}
    </ul>
</nav>
{{>message}}